body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;  
    margin: 0; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 12px 250px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 1000;
}

.links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section-1 {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 250px;
    gap: 40px;
}

.img-placeholder {
    display: flex;
    flex: 1;
    background-color: #e5e7ebb2;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    height: 300px;

}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000;
}

.second-hero {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-1 {
    background-color: #3882F6;
    padding: 6px 30px;
    font-size: 16px;
    font-weight: 900;
    width: fit-content;
    border-radius: 8px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 150px;
    gap: 50px;
}

.info-header {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos {
    display: flex;
    justify-content: center;
    gap: 44px;
}

.infos .text {
    color: #1f2937c7;
    font-size: 22px;
    text-align: center;
    width: 210px;
}

.item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.illustration {
    border: 5px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 24px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    max-width: 850px;
    flex: 1;
}

.author {
    font-size: 18px;
    width: 850px;
    font-weight: bold;
    text-align: end;
    flex: 1;
}

.section-4,
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-4 {
    padding: 120px;
}

.button {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    box-sizing: border-box;
    width: 1200px;
    height: 150px;
    padding: 0px 160px;
}

.section-4 .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.text-1 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.text-2 {
    font-size: 20px;
    color: #E5E7EB;
}

.sign-up-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    padding: 8px 35px;
    font-size: 16px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 32px;
}

.footer .text {
    color: #F9FAF8;
    text-align: center;
}

.copyright {
    display: inline-block;
    margin: 0px 8px;
}